$secular-font: 'Secular One', sans-serif;

.header-container{
    display: flex;
    gap: 20px;
    justify-content: space-around;

    &__img{
        width: 120px;
        height: 110px;
    }

    &__nav{
        display: flex;
        gap: 20px;
        align-items: center;

        &__p{
            font-size: 30px;
            cursor: pointer;
            font-family: $secular-font;
        }
        &__p:hover{
            color: yellow;
        }
    }
}





