.detail-container{
    display: flex;
    justify-content: center;
    height:400px;
    align-items: center;

    .div-pokemon {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        margin-top: 50px;
        width: 250px;
        height: 270px;
        border: 3px solid yellow;
        background-color: lightblue;
        border-radius: 20px;

        &__name {
            font-size: 30px;
            margin-top: 30px;
        }

        &__type{
            font-size: 20px;
            font-style: italic;
            margin-top: 0px;
        }

        &__weight{
            font-size: 15px;
        }
        
        &__img {
            width: 100px;
            height: 100px;
            padding-bottom: 30px;
        }
    }
}

.detail-container--notShow{
    display: none;
}