.detail-container{
    display: flex;
    justify-content: center;
    height: 450px;
    align-items: center;

    .div-pokemon {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        margin-top: 100px;
        width: 350px;
        height: 500px;
        border: 3px solid yellow;
        background-color: lightblue;
        border-radius: 20px;
    
        &__img {
            width: 300px;
            height: 300px;
            padding-bottom: 30px;
        }
    }
}

.detail-container--notShow{
    display: none;
}