@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");
.header-container {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  background-color: #FCDDB0;
  margin: 0px;
  padding: 0px;
}
.header-container__img {
  width: 120px;
  height: 70px;
}
.header-container__nav {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header-container__nav__p {
  font-size: 25px;
  cursor: pointer;
  font-family: "Secular One", sans-serif;
}
.header-container__nav__p:hover {
  color: yellow;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.section-container__p {
  text-align: center;
  font-family: "Maven Pro", sans-serif;
}

.section-container--notShow {
  display: none;
}

.footer-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}
.footer-container__img {
  width: 30px;
  height: 30px;
}

.pokemons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.pokemons-container__cardContainer {
  display: flex;
  flex-wrap: wrap;
}

.pokemons-container--notShow {
  display: none;
}

.div-pokemon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 100px;
  height: 150px;
  border: 3px solid yellow;
  background-color: lightblue;
  border-radius: 20px;
}
.div-pokemon__img {
  width: 50px;
  height: 50px;
  padding-bottom: 30px;
}

.detail-container {
  display: flex;
  justify-content: center;
  height: 400px;
  align-items: center;
}
.detail-container .div-pokemon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin-top: 50px;
  width: 250px;
  height: 270px;
  border: 3px solid yellow;
  background-color: lightblue;
  border-radius: 20px;
}
.detail-container .div-pokemon__name {
  font-size: 30px;
  margin-top: 30px;
}
.detail-container .div-pokemon__type {
  font-size: 20px;
  font-style: italic;
  margin-top: 0px;
}
.detail-container .div-pokemon__weight {
  font-size: 15px;
}
.detail-container .div-pokemon__img {
  width: 100px;
  height: 100px;
  padding-bottom: 30px;
}

.detail-container--notShow {
  display: none;
}

body {
  background-color: #FFFAD7;
  margin: 0px;
  padding: 0px;
}

@media (min-width: 768px) {
  .header-container__img {
    width: 300px;
    height: 100px;
  }
  .detail-container {
    height: 500px;
  }
  .detail-container .div-pokemon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-top: 100px;
    width: 320px;
    height: 450px;
    border: 3px solid yellow;
    background-color: lightblue;
    border-radius: 20px;
  }
  .detail-container .div-pokemon__img {
    width: 100px;
    height: 100px;
    padding-bottom: 30px;
  }
  .div-pokemon {
    width: 320px;
    height: 300px;
    border: 3px solid yellow;
    background-color: lightblue;
    border-radius: 20px;
  }
  .div-pokemon__img {
    width: 50px;
    height: 50px;
    padding-bottom: 30px;
  }
}/*# sourceMappingURL=index.css.map */